<head>
    <link rel= "stylesheet" type= "text/css" href= "../styles/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
</head>

<header><b>Eddy Guo Coin Shenanigans</b></header>

<div>
<form action="/coin" method="POST">
    <input type ="submit" name="submit" value="Cryptocurrencies/Coins" />
</form>

<form action="/exchange" method="POST">
    <input type ="submit" name="submit" value="Exchanges" />
</form>

<form action="/address" method="POST">
    <input type ="submit" name="submit" value="Wallet Addresses" />
</form>

<form action="/test" method="POST">
    <input type ="submit" name="submit" value="Testing" />
</form>
</div>